{{#if user}}
    <section id="sidebar" class="sticky top-[3.5rem] flex flex-col p-2 w-1/6">
        <div class="flex flex-col p-4 bg-white rounded-xl font-bold">
            <a href="/">Home</a>
            {{#ifEq this user.role.role_name "Penjual"}}
                {{#if user.Kedai_Profile}}
                    <a href="/k/{{user.Kedai_Profile.name}}">Store Profile</a>
                    <a href="/produks">Products</a>
                    <a href="/bahan">Product Ingredients</a>
                {{else}}
                    <a href="/editKedai">Store Profile</a>
                {{/if}}
            {{/ifEq}}
        </div>
        {{#if useAction}}
            {{#ifEq this user.role.role_name "Penjual"}}
                {{#if user.Kedai_Profile}}
                    <div class="flex flex-col mt-2 gap-2">
                        <p class="bg-white/50 py-1 px-2 rounded-lg">Sales Data Detail</p>
                        <a href="/transaksi/tambah" class="bg-green-400/70 py-1 px-2 rounded-lg">+ Kasir</a>
                        <a href="/transaksi" class="bg-green-400/70 py-1 px-2 rounded-lg">+ Rekap</a>
                        <a href="/prediksi" class="bg-green-400/70 py-1 px-2 rounded-lg">+ Prediksi</a>
                        <a href="/export" class="bg-green-400/70 py-1 px-2 rounded-lg">+ Import</a>
                        <p class="bg-white/50 py-1 px-2 rounded-lg">Production Data</p>
                        <a href="/bahan/tambah" class="bg-green-400/70 py-1 px-2 rounded-lg">+ Add Production Data</a>
                        <a href="/produk/tambah" class="bg-green-400/70 py-1 px-2 rounded-lg">+ Add Menu</a>
                    </div>
                {{/if}}
            {{/ifEq}}
        {{/if}}
    </section>
{{/if}}
