<div class="p-4 h-[calc(100vh-3rem)] flex-grow">
    <form class="bg-white h-full rounded-xl p-4" action="/transaksi" method="post" enctype="multipart/form-data">
        <div class="relative">
            <div class="h-full flex flex-col items-center justify-center bg-slate-200 rounded-xl">
                <p class="font-bold flex items-center">Drag and drop file CSV di sini <span class="material-icons">upload</span></p>
                <p>kolom yang harus ada: tanggal, id produk, kuantitas</p>
            </div>
            <input type="file" name="sheet" id="sheet" onchange="submit()" class="w-full h-full bg-yellow-300 absolute top-0 opacity-0">
        </div>
    </form>
</div>